VITE_API_BASE_URL=http://localhost:8080/api
VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_AUDIENCE=https://weekly-commit.st6.local/api
WEEKLY_COMMIT_REMOTE_URL=http://localhost:4201/assets/remoteEntry.js
